.App {
  text-align: center;
}

.Card {
  width: 327px;
  height: fit-content;
  background-color: red;
  border-radius: 8px;
}

.CardContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.ShowText {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

p {
  margin: 0;
  text-align: left;
}
/*  */

.EnterText {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 2px;
  background-color: gray;
}